*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

article{
    margin: 15px;
}

.input{
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: solid 2px #00B6CB;
    color: white;
}

.container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 30%;
    
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;     
}

.card{
    background-color: #00B6CB
}

.link{
    text-decoration: none;
}

.photo{
    grid-area: photo;
    width: 100%;
    height: auto;
}

.name{
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.specie{
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 15px;
}

.containerDetail{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoDetail{
    width: 30%;
}

.btnBack{    
    text-decoration: none;
    color: white;   
}

.cardDetail{
    display: flex;
    background-color: #00B6CB;
    padding: 20px;
    margin-left: 5px;    
}

.imgDetail{
    margin-left: 0px;
}

.infosCard{
    list-style: none;
    color: white; 
    margin-left: 10px;
    padding-top: 55px;    
}

.nameDetail{
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
}

.select{    
    border: solid 2px #00B6CB;    
}

